//Color variables
$black-color: #343434;
$grey-mid: #e5e5e5;
$grey-mid-dark: #b0aba3;
$grey-dark: #808285;
$grey-light: #f7f7f9;
$red-poor: #c4696a;
$red-dreadful: #991c24;
$grey-lighter: #bbbdbf;
$off-white: #fdfdfd;
$grey-darker: #333333;
$white: #ffffff;
$blue-color: #48a8d7;
$dark-blue: #43a5ff;
$grey-mid-light: #e6e7e8;
$green: #91c11e;
$torquoise: #7fc7d8;
